---
layout: default-parallax
---

<div class="content" id="content2" data-stellar-background-ratio="0.5">
    {% assign minutes = content | number_of_words | divided_by: 180 %}
    {% if minutes == 0 %}
    {% assign read-time = site.var_less_than_a_minute_read %}
    {% else %}
    {% assign read-time = minutes | append: "&nbsp;" | append: site.var_min_read %}
    {% endif %}

    <article>
        <span class="meta">{{ page.date | date: site.date_format }} • {{ read-time }}</span>

        <h1>{{ page.title }}</h1>

        {{ content }}

        {% if site.display-author-post-page %}
        {% if page.author.name %}
        <small><em>{{ site.var_guest_post_by }}: {{ page.author.name }} {{ page.author.info }}</em></small>
        {% else %}
        {% if site.author.name %}
        <small><em>{{ site.var_post_by }}: {{ site.author.name }} {{ site.author.info }}</em></small>
        {% endif %}
        {% endif %}
        {% endif %}
    </article>

    {% if site.display-next-prev-post and page.previous.url or site.display-next-prev-post and page.next.url %}
    <div class="pagination clearfix">
        <div class="left">
            {% if page.next.url %}
            <a href="{{ page.next.url | prepend: site.baseurl }}">‹ {{ site.var_next_post }}</a>
            {% else %}
            <span class="disabled">‹ {{ site.var_next_post }}</span>
            {% endif %}
        </div>
        <div class="right">
            {% if page.previous.url %}
            <a href="{{ page.previous.url | prepend: site.baseurl }}">{{ site.var_previous_post }} ›</a>
            {% else %}
            <span class="disabled">{{ site.var_previous_post }} ›</span>
            {% endif %}
        </div>
    </div>
    {% endif %}

    {% if site.disqus-shortname %}

    <input type="submit" class="show-comments" value="Load Disqus comments"/>

    <div id="disqus_thread"></div>

    <script>

        $(document).ready(function() {

            $('.show-comments').on('click', function() {

                var disqus_shortname = '{{ site.disqus-shortname }}';

                // ajax request to load the disqus javascript
                $.ajax({
                    type    : "GET",
                    url     : "//" + disqus_shortname + ".disqus.com/embed.js",
                    dataType: "script",
                    cache   : true
                });
                // hide the button once comments load
                $(this).fadeOut();

            });

        });

    </script>
    {% endif %}

</div>